# See http://help.github.com/ignore-files/ for more about ignoring files.

# Compiled output
FrontEnd/dist
FrontEnd/tmp
FrontEnd/out-tsc
FrontEnd/bazel-out

BackEnd/dist
BackEnd/tmp
BackEnd/out-tsc
BackEnd/bazel-out

# Node
FrontEnd/node_modules
BackEnd/node_modules
npm-debug.log
yarn-error.log

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# Miscellaneous
Frontend/.angular/cache
Frontend/.sass-cache/
/connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings

# System files
.DS_Store
Thumbs.db
Frontend/.env
BackEnd/.env