@import '../../../scss/abstracts/variables';
@import '../../../scss/base/animations';

.arrow-to-top{
    &__container {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 1rem;
        background-color: $color-highlight;
        border-radius: 50%;
        cursor: pointer;
        transition: all 200ms ease-in-out;

        position: fixed;
        bottom: 2%;
        right: calc($padding-sides - 9%);

        &.hide-arrow {
            animation: .5s arrowDown ease-in-out forwards;
        }

        &.show-arrow {
            animation: .5s arrowUp ease-in-out forwards;
        }

        &:active {
            transform: scale(1.2);
        }

        &-svg {
            width: 2rem;
            fill: $color-background;
            stroke: $color-background;
        }
    }
}