@keyframes moveInLeft {
    0% {
        opacity: 0;
        transform: translateX(-10rem);

    }

    80% {
        transform: translateX(1rem);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes moveInRight {
    0% {
        opacity: 0;
        transform: translateX(10rem);
    }
    80% {
        transform: translateX(-1rem);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes moveInBottom {
    0% {
        opacity: 0;
        transform: translateY(3rem);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

@keyframes moveInUp {
    0% {
        opacity: 0;
        transform: translateY(-3rem);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

@keyframes slide-up {
    0% {
        bottom: -2rem;
    }
    
    70%{
        bottom: 4rem;
    }

    100% {
        bottom: 3rem;
    }
}

@keyframes gameCarousel {
    0% {
      transform: translateX(200px);
      opacity: 0;
    }
    10% {
      transform: translateX(0);
      opacity: 1;
    }
    20% {
      transform: translateX(0);
      opacity: 1;
    }
    30% {
      transform: translateX(-200px);
      opacity: 0;
    }
    100% {
      transform: translateX(-200px);
      opacity: 0;
    }
  }
  

  @keyframes slideToLeft {
    0% {
        opacity: 0;
        right: -40%;
    }

    100% {
        opacity: 1;
        right: 0;
    }
  }

  @keyframes slideToRight {
    0% {
        opacity: 1;
        right: 0;
    }

    100% {
        opacity: 0;
        right: -40%;
    }
  }

  @keyframes slideToLeftMobile {
    0% {
        opacity: 0;
        right: -70%;
    }

    100% {
        opacity: 1;
        right: 0;
    }
  }

  @keyframes slideToRightMobile {
    0% {
        opacity: 1;
        right: 0;
    }

    100% {
        opacity: 0;
        right: -80%;
    }
  }

  @keyframes arrowUp {
    0% {
        bottom: -10%;
    }

    100% {
        bottom: 2%;
    }
  }

  @keyframes arrowDown {
    0% {
        bottom: 2%;
    }

    100% {
        bottom: -10%;
    }
  }