@import '../../../scss/abstracts/variables';
.footer {
    &__container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        align-items: center;
        padding: 2rem $padding-sides;
        background-color: $color-highlight;
        margin-top: 4.5rem;

        &-figure {
            &-logo {
                width: 100%;
                display: flex;
                align-items: center;
                &-img {
                    width: 60%;
                    fill: $color-background;
                }
            }
        }

        &-paragraph {
            color: $color-background;
        }

        &-list {
            display: flex;
            justify-content: flex-end;
            gap: 1rem;
            list-style: none;

            &-item {
                &-link {
                    &-img {
                        width: 3.5rem;
                        fill: $color-background;

                        & g {
                            fill: $color-background;
                        }
                    }
                }
            }
        }
    }

    @media screen and (max-width:480px) {
        &__container {
            grid-template-columns: 1fr;
            grid-template-rows: 1fr 1fr;
            gap: 1rem;

            &-figure {
                &-logo {
                    justify-content: center;
                    &-img {
                        width: 55%;
                        fill: $color-background;
                    }
                }
            }

            &-paragraph {
                text-align: center;
            }

            &-list {
                display: flex;
                justify-content: center;
                gap: 1rem;
                list-style: none;
                &-item {
                    &-link {
                        &-img {
                            width: 3.5rem;
                        }
                    }
                }
            }
        }
    }
}