@import '../../../scss/abstracts/variables';
.footer {
    &__container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        align-items: center;
        padding: 2rem $padding-sides;
        background-color: $color-highlight;
        margin-top: 4.5rem;

        &-figure {
            &-logo {
                width: 100%;
                display: flex;
                align-items: center;
                &-img {
                    width: 60%;
                    fill: $color-background;
                }
            }
        }

        &-list {
            display: flex;
            justify-content: flex-end;
            gap: 1rem;
            list-style: none;

            &-item {
                &-link {
                    &-img {
                        width: 3.5rem;
                    }
                }
            }
        }
    }
}