@import 'variables';

@mixin paragraph {
    line-height: 3.3rem;
    color: $color-text;
    font-size: 1.5rem;
}

@mixin button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    border: none;
    border-radius: 1rem;
    background-color: $color-highlight;
    color: $color-white;
    font-weight: 600;
    padding: 1.5rem;
    font-size: 1.6rem;
    cursor: pointer;
    transition: 200ms;
}