<div class="home__container">
    <!--
    <figure class="home__container-carousel">
        <img class="home__container-carousel-img" src="../../../assets/images/LEVEL UP.jpg" alt="">
    </figure>
    -->

    <div class="home__container-bg-header">
        <img ngSrc="../../../assets/images/header-home.webp" priority width="1920" height="1080" alt="">
    </div>

    <header class="home__container-header">
        <div class="home__container-header-informations">
            <h1 class="home__container-header-informations-title">Discover Incredible <span>Free Games</span> at <span>LevelUP</span></h1>
            <p class="home__container-header-informations-subtitle">Our platform offers a wide range of free games to suit all tastes and preferences. Explore our catalog and immerse yourself in a world of limitless entertainment!</p>
        </div>

        <div class="home__container-header-arrow">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </header>

    <div class="home__container-title-box">
        <h1 class="home__container-title-box-text">All Games</h1> 

        <div class="home__container-title-box-filter">
            <select id="orderSelect" class="home__container-title-box-select" [(ngModel)]="selectedFilterPlatform" (change)="updatePlatform()">
                <option value="" disabled selected hidden>Platform</option>
                <option value="default">Default</option>
                <option value="pc">PC</option>
                <option value="browser">Browser</option>
            </select> 
    
            <select id="orderSelect" class="home__container-title-box-select" [(ngModel)]="selectedFilterCategory" (change)="updateCategory()">
                <option value="" disabled selected hidden>Category</option>
                <option value="default">Default</option>
                @for (category of categories; track category) {
                    <option [value]="category">{{ category }}</option>
                }
              </select>
            
            <select id="orderSelect" class="home__container-title-box-select" [(ngModel)]="selectedOrderGames" (change)="updateOrder()">
                <option value="" disabled selected hidden>Sort By</option>
                <option value="default">Default</option>
                <option value="release-date">Release Date</option>
                <option value="popularity">Popularity</option>
                <option value="alphabetical">Name (alphabetical order)</option>
                <option value="relevance">Relevance</option>
            </select>   
        </div>
        
        
    </div> 
    @if (gamesList && gamesList.length > 0) {
        <app-list-games [gamesList]="gamesList"></app-list-games>
    } @else {
        <app-loader></app-loader>
    }
</div>