@import '../../../scss/abstracts/variables';
@import '../../../scss/base/animations';

.list-games {
    &__container {
        list-style: none;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(27rem, 1fr));
        gap: 2rem;


        &-item {
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 1rem;
            position: relative;
            border-radius: .8rem;
            transition: all 200ms ease-in-out;
            animation: .5s moveInUp ease-in-out;

            &:hover {
                transform: translateY(-.5rem);
            }

            &:hover {
                .list-games__container-item-favorite-button {
                    opacity: 1;
                    z-index: 20;

                    &-svg {
                        width: 2rem;
                        fill: $color-white;
                    }
                }
            }

            &-favorite-button {
                display: flex;
                position: absolute;
                background-color: $color-highlight;
                top: .4rem;
                right: .4rem;
                border-radius: 50%;
                text-align: center;
                padding: .8rem;
                margin: 0;
                opacity: 0;
                margin-block-start: 0rem;
                margin-block-end: 0rem;
                margin-inline-start: 0rem;
                margin-inline-end: 0rem;
                transition: 200ms;
                cursor: pointer;

                &-svg {
                    width: 2rem;
                    fill: $color-white;
                }
            }

            &-link {
                text-decoration: none;
                color: $color-white;

                &-img {
                    border-radius: .8rem;
                    width: 100%;
                }

                
                &-description {
                    display: flex;
                    justify-content: space-between;
    
                    &-title {
                        color: $color-white;
                        font-weight: 500;
                    }
        
                    &-button {
                        width: fit-content;
                        background-color: $color-highlight;
                        color: white;
                        height: fit-content;
                        border: none;
                        border-radius: .5rem;
                        padding: .5rem;
                        font-weight: 600;
                        font-size: 1.1rem;
                    }
                }

                &-platform {
                    color: $color-text;

                    font-size: 1.2rem;
                }
            }            
        }
    }
}